<div id="animation">
  <div id="animation-inner">
    <div id="shadow-ball" class="fadeIn"></div>
    <div id="ball" class="slideDown"></div>  
  </div>
</div>

<div id="banner">
  <div class="outer">
    <div class="inner">
      <h2 id="banner-title">An open-source platform to build bitcoin and blockchain-based applications.</h2>
    </div>
  </div>
  <div id="banner-footer">
    <div id="volcano-hd"></div>
    <div id="banner-getting-started">
      <a href="<%- url_for('guide') %>"><span id="banner-getting-started-prefix">$</span>
      <span id="banner-getting-started-input">npm install bitcore</span></a>
      <a href="<%- url_for('guide') %>" id="banner-getting-started-btn"></a>
    </div>
  </div>
</div>

<div id="bitcores-new">
  <div class="outer">
    <h2>The Platform</h2>
      <div id="bitcore-library" class="item-bitcores">
        <div id="bitcore-library-logo-new"></div>
        <p>A pure and powerful JavaScript Bitcoin library.</p>
        <p class="github-link-bitcores"><a href="<%- url_for('https://github.com/bitpay/bitcore') %>" target="_blank"><b>Get it on GitHub</b></a></p>
      </div>
      <div id="bitcore-wallet" class="item-bitcores">
        <div id="bitcore-wallet-logo-new"></div>
        <p>Run a wallet server for your friends, family, and colleagues.</p>
        <p class="github-link-bitcores"><a href="<%- url_for('https://github.com/bitpay/bitcore-wallet-service') %>" target="_blank"><b>Get it on GitHub</b></a></p>
      </div>
  </div>
</div>

<div id="features">
  <div class="outer">
    <h2>Main Features</h2>
    <div class="list">
      <div id="cross-platform" class="item">
        <p class="headline">Cross Platform</p>
        <p class="detail">Works in both <a href="<%- url_for('guide/index.html') %>">Node.js</a> and <a href="<%- url_for('guide/index.html') %>">Web Browsers</a></p>
      </div>
      <div id="functionality" class="item">
        <p class="headline">All the Core Bitcoin Functionality</p>
        <p class="detail"><a href="<%- url_for('guide/address.html') %>">Addresses</a>, <a href="<%- url_for('guide/transaction.html') %>">Transactions</a>, <a href="<%- url_for('guide/script.html') %>">Script</a> and <a href="<%- url_for('guide/module/p2p/index.html') %>">P2P Networking</a></p>
      </div>
      <div id="osource" class="item">
        <p class="headline">Open Source</p>
        <p class="detail">Over 97% Test Coverage, Publicly Audited and available on <a href="https://github.com/bitpay/bitcore">Github</a></p>
      </div>
      <div id="paymentprotocol" class="item">
        <p class="headline">Payment Protocol Support</p>
        <p class="detail"><a href="<%- url_for('guide/module/payment-protocol/index.html') %>">Secure Messages</a> between Merchants and Customers</p>
      </div>
      <div id="keys" class="item">
        <p class="headline">Private and <br/>Public Key Management</p>
        <p class="detail"><a href="<%- url_for('guide/privatekey.html') %>">Basic</a> and <a href="<%- url_for('guide/hierarchical.html') %>">Hierarchically Derived</a></p>
      </div>
    </div>
  </div>
</div>

<div id="getting-started">

  <div class="outer">
    <h2>Getting Started</h2>

    <div id="getting-started-main">
      <ul id="terminal">
        <li class="nodejs-icon">npm install bitcore</li>
        <li class="browser-icon">bower install bitcore</li>
      </ul>
    </div>

    <div id="getting-started-secondary">

      <div id="read-docs-wrapper">
        <a href="<%- url_for('guide') %>"><div id="read-docs"></div></a>
        <p class="getting-started">Read the <a href="<%- url_for('guide') %>" class="links-over-red" target="_blank">docs</a></p>
        <p class="getting-started">or visit our <a href="http://bitpaylabs.com/c/bitcore" class="links-over-red" target="_blank">community forum</a></p>
       </div>

      <div id="read-api-wrapper">
        <a href="<%- url_for('playground') %>"><div id="play-ground"></div></a>
        <p class="getting-started">Learn the fundamentals of Bitcoin</p>
        <p class="getting-started">Check the <a href="<%- url_for('playground') %>" class="links-over-red">Bitcore playground</a></p>
      </div>

    </div>

  </div>

</div>

<div id="projects">
  <div class="outer">
    <h2>Projects Using Bitcore</h2>

     <ul class="using-bitcore">
       <a href="https://bitpay.com/" target="_blank"><li id="bitpay-link" class="link"></li></a>
       <a href="https://copay.io" target="_blank"><li id="copay-link" class="link"></li></a>
       <a href="https://insight.is/" target="_blank"><li id="insight-link" class="link"></li></a>
       <a href="https://github.com/bitpay/bitcore-wallet" target="_blank"><li id="bircore-wallet-link" class="link"></li></a>
     </ul>

     <ul class="using-bitcore">
       <a href="https://enbitcoins.com" target="_blank"><li id="enbitcoins-link" class="link"></li></a>
       <a href="https://github.com/streamium/paystream" target="_blank"><li id="streamium-link" class="link"></li></a>
       <a href="https://github.com/dmerrill6/BitBox" target="_blank"><li id="bitbox-link" class="link"></li></a>
       <a href="https://maraoz.github.io/multipaper/" target="_blank"><li id="paper-wallet-link" class="link"></li></a>
     </ul>

      <ul class="using-bitcore">
       <a href="http://counterparty.io/" target="_blank"><li id="counterparty-link-complete" class="link"></li></a>
       <a href="https://www.blocktrail.com/" target="_blank"><li id="blocktrail-link" class="link"></li></a>
       <a href="http://pheeva.com/" target="_blank"><li id="pheeva-link" class="link"></li></a>
       <a href="https://sericatrading.com" target="_blank"><li id="serica-link" class="link"></li></a>
     </ul>    

      <ul class="using-bitcore">
       <a href="http://wetipcoins.com/" target="_blank"><li id="wetipcoins-link" class="link"></li></a>
     </ul>  

  </div>
</div>

<%- page.content %>
